.choosing {
    padding: 20px;
}

.divInLoading{
    height: 500px;
}

.show-grid1
    {height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.positionOfLeftButton{
    text-align: right;
}
.positionOfRightButton{
    text-align: left;
}
h2{
    text-align: center;
}